# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
*.venv/

.repoproject/

# Distribution / Packaging
build/
dist/
*.egg-info/
*.spec

# Logs and temporary files
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# IDE / Editor configurations
.vscode/
.idea/
*.swp
